<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuning.mapper.UserMapper">

    <!--public List<ssmdb> getAll();-->
    <select id="selectAll" resultType="com.liuning.pojo.User">
        select * from yonghuxinxi
    </select>
    <!--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-->
</mapper>